{% extends "user/base.html" %}
{% block style %}

{% endblock style %}
{% block content %}

<h1>Home Page</h1>
<div class="container">
    <div class="row">
        {% for product in products %}
        <div class="col-3 px-2">
        <div class="card" style="width: 18rem;">
            <img src="{{ product.product_image.url }}" class="card-img-top" style='height: 255px;' alt="..." >
            <div class="card-body">
              <h5 class="card-title">{{ product.product_name|slice:"0:45" }} ..</h5>
              <p class="card-text">{{ product.product_description|slice:"0:85" }} ...</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {% endfor %}   
    </div>
</div>



{% endblock content %}