{% extends "user/base.html" %}
{% block style %}

{% endblock style %}
{% block content %}

<div class="container mt-3">
{% for products in all_products %}
    <h3 class='mb-4'><span class="badge badge-primary p-2">{{ products.0.product_category }}</span></h3>
    <div class="row">
        {% for product in products %}
        <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0">{{product.product_name|slice:"0:20"}}</h3>
          <div class="mb-1 text-muted">&#x20B9; {{product.product_price}}</div>
          <p class="card-text">{{ product.product_description|slice:"0:75" }}..</p>
          <a href="{{ product.get_absolute_url }}" class="stretched-link">View Product</a>
        </div>
        <div class="col d-none d-lg-block">
          <img src="{{ product.product_image.url }}" class="card-img-top" style='height: 255px; width: 300px;' alt="..." >
          </div>
        </div>
      </div>
        {% endfor %}   
    </div>
    {% endfor %}
</div>




{% endblock content %}