{% extends "user/base.html" %}
{% block style %}

{% endblock style %}
{% block content %}

<div class="container">
   

    <div class="jumbotron">
        <div class="row">

            <div class="col md-4">
                <div class="row">
                 <img src="{{product.product_image.url}}" height="445px" width="435px"> 
                </div>
                 
            </div>
            <div class="col md-8">
                <h5> Category: {{product.product_category}} </h5> 
                 <h4> {{product.product_name}} </h4>
                 <h6> &#x20B9; {{product.product_price}} </h6>
                 <hr>
                 <p> Description: <br> {{product.product_description}}</p>
                 <div class="row">
                    <a href="{{ product.add_to_cart }}" class="btn btn-primary my-3 mx-4 px-5">Add To Cart</a>
                    <a href="{{ product.remove_from_cart }}" class="btn btn-primary my-3 mx-4 px-5">Remove From Cart</a>
                   </div> 
            </div>
            
        </div>
      </div>
</div>

{% endblock content %}